*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

    
}

img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid #fff;
    
    
    
}



body{
    background-image: linear-gradient(#0a0908, #22333b, #a9927d, #5e503f, #0a0908 );
    min-height: 100vh;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}



.box {
    
    justify-content: center;
    align-items: center;
    min-height: 10px;
    left: 200px;
    top: 150px;
    width: 31%;
    float: left;
    padding: 10px;
    margin: 10px;
}

.box .card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}

.card {
    height: 26rem;
    width: 30rem;
    padding: 20px 35px;
    background: #1e01382e;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    top: 20px;
    
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: pink;
    
   

}



.box-projeto {
    
    justify-content: center;
    align-items: center;
    min-height: 10px;
    left: 200px;
    top: 150px;
    width: 31%;
    float: left;
    padding: 10px;
    margin: 10px;
}

.box-projeto .card-projeto:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    transform: translateY(-20px);
    transition: transform 0.3s ease-in-out;
}



.card-projeto {
    height: 40rem;
    width: 30rem;
    padding: 20px 35px;
    background: #1e01382e;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    top: 20px;
    
}

.card-projeto i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: pink;
    

}




h5{
    color: pink;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: white;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.pra a{
    text-decoration: none;
    color: pink;
}

.pra a{
	display: inline-block;
    background: pink;
    color: black;
    font-size: 15px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid pink;
    transition: all 0.3s ease;
    text-decoration: none;
}

.pra a:hover{
    color: #fff;
    background: none;
}

.pra .icon i {
    font-size: 20px;
    color: white;
}




.inicio{
    display: flex;
    height: 100vh;
    color: white;
    min-height: 500px;
    display: block;
   
    
}

.inicio .max-width{
    margin: auto 0 auto 40px;
    text-align: center;
    
}


.texto-1 span {
    font-family: 'Ms Madi', cursive;

}

.inicio .conteudo-inicio .texto-1{
    font-size: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    text-align: center;

   
}

.inicio .conteudo-inicio .texto-2{
    font-size: 34px;
     
    
}

.inicio .conteudo-inicio .texto-3{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
    font-family: 'Ms Madi', cursive;
    margin-bottom: 40px;

}

.inicio .conteudo-inicio .texto-4{
    font-size: 27px;
    margin: 5px 0;

}

.inicio .conteudo-inicio .texto-3 span{
    color: pink;
    font-weight: 500;
    
}

.inicio .conteudo-inicio .buttons a{
    display: inline-block;
    background: pink;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid pink;
    transition: all 0.3s ease;
    text-decoration: none;
    
}

.inicio .conteudo-inicio a:hover{
    color: #fff;
    background: none;
}

.inicio .conteudo-inicio .cv a{
    display: inline-block;
    background: pink;
    color: black;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid pink;
    transition: all 0.3s ease;
    text-decoration: none;
}

.inicio .conteudo-inicio .cv a:hover{
    color: #fff;
    background: none;
}



.inicio .conteudo-inicio .sobremim{
    font-size: 34px;
    margin: 5px 0;
    
}

.inicio .conteudo-inicio .idiomas{
    font-size: 34px;
    margin: 5px 0;
}

.inicio .conteudo-inicio .texto-6{
    font-size: 21px;
}

.inicio .conteudo-inicio .texto-6 p{
    font-size: 13px;
}

.inicio .conteudo-inicio .conhecimentos{
    font-size: 34px;
    margin: 5px 0;
}

.inicio .conteudo-inicio .texto-7{
    font-size: 21px;
}


.inicio .conteudo-inicio .texto-7 p{
    font-size: 13px;
}


.inicio .conteudo-inicio .contato .texto-8 {
    font-size: 34px;
    
    
}

.inicio .conteudo-inicio .cv a{
    font-size: 15px;
    margin: 5px 0;
}

.inicio .conteudo-inicio .dots {
    color: pink;
}

.footer {
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 30%;
}







@media (max-width: 1600px){
    
    .box {
    
        justify-content: center;
        align-items: center;
        min-height: 10px;
        left: 100px;
        top: 150px;
        width: 94%;
        padding: 2rem;
        display: flex;
        
    }

    .card {
        height: 30rem;
        width: 25rem;
        padding: 20px 35px;
        background: #1e01382e;
        border-radius: 20px;
        margin: 15px;
        position: center;
        overflow: hidden;
        text-align: relative;
        top: 20px;
        margin-bottom: 5rem;
        
    }

    .box-projeto {
    
        justify-content: center;
        align-items: center;
        min-height: 10px;
        left: 200px;
        top: 150px;
        width: 45%;
        float: left;
        padding: 10px;
        display: flex;
        
    }

    .card-projeto {
        height: 45rem;
        width: 22rem;
        padding: 20px 35px;
        background: #1e01382e;
        border-radius: 20px;
        margin: 15px;
        position: center;
        overflow: hidden;
        text-align: relative;
        top: 20px;
        margin-bottom: 2rem;
        
    }

   

}

@media (max-width: 1104px){
    .inicio .max-width{
        margin-left: 0px;
    }

    .box {
    
        justify-content: center;
        align-items: center;
        min-height: 10px;
        left: 200px;
        top: 150px;
        width: 90%;
        float: left;
        padding: 10px;
        
    }

    .card {
        height: 50rem;
        width: 14rem;
        padding: 20px 35px;
        background: #1e01382e;
        border-radius: 20px;
        margin: 15px;
        position: center;
        overflow: hidden;
        text-align: relative;
        top: 20px;
        margin-bottom: 2rem;
        
    }

    #idiomas {
        height: 25rem;
        width: 14rem;
        padding: 20px 35px;
        background: #1e01382e;
        border-radius: 20px;
        margin: 15px;
        position: center;
        overflow: hidden;
        text-align: relative;
        top: 20px;
        margin-bottom: 2rem;
    }

    #conhecimentos {
        height: 30rem;
        width: 14rem;
        padding: 20px 35px;
        background: #1e01382e;
        border-radius: 20px;
        margin: 15px;
        position: center;
        overflow: hidden;
        text-align: relative;
        top: 20px;
        margin-bottom: 8rem;
    }

    .box-projeto {
    
        justify-content: center;
        align-items: center;
        min-height: 10px;
        left: 200px;
        top: 150px;
        width: 90%;
        float: left;
        padding: 10px;
        
    }

    .card-projeto {
        height: 45rem;
        width: 15rem;
        padding: 20px 35px;
        background: #1e01382e;
        border-radius: 20px;
        margin: 15px;
        position: center;
        overflow: hidden;
        text-align: relative;
        top: 20px;
        margin-bottom: 2rem;
        
    }

    .inicio .conteudo-inicio .texto-8 p {
        font-size: 15px;
    }


    
}

@media (max-width: 991px){
    .max-width{
        padding: 0 50px;
    }
}

@media (max-width: 947px){
   
    .inicio .conteudo-inicio .texto-2{
        font-size: 35px;
    }

    .inicio .conteudo-inicio .texto-3{
        font-size: 60px;
    }

    

    .inicio .conteudo-inicio .buttons a{
        font-size: 23px;
        padding: 10px 30px;
    }



}

@media (max-width: 690px){

    .max-width{
        padding: 0 23px;
    }
    
    .inicio .conteudo-inicio .texto-2{
        font-size: 32px;
    }

    .inicio .conteudo-inicio .texto-3{
        font-size: 60px;
    }

    .inicio .conteudo-inicio .buttons a{
        font-size: 20px;
        padding: 9px 25px;
    }

    .inicio .conteudo-inicio .cv a{
        font-size: 20px;
        padding: 9px 25px;
    }
}

@media (max-width: 500px){

    .inicio .conteudo-inicio .texto-2{
        font-size: 27px;
    }

    .inicio .conteudo-inicio .texto-3{
        font-size: 50px;
    }
}